table {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

table thead span{
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.gift-card-row img {
    width: 135px;
    margin-bottom: 10px;
}

.no-cards {
    margin-top: 85px;
    font-size: 18px;
}

.no-cards span {
    font-weight: bold;
}